.idea/
deps/
build/
cmake-build*/
memtrace_pin/obj*/
*.log
pinatrace.out
a.out
a.out.dSYM
*.csv
.ipynb_checkpoints/
*.pyc
.DS_Store
*.pt  # PyTorch trained model
downloads

# VS code
venv/
.vscode/
*.json
