build/
cmake-build*/
memtrace_pin/obj*/

# Big files usually located on cluster
*.log
*.out*
*.csv
*.png
*.root
.ipynb_checkpoints/
*.pyc
.DS_Store
*.pt  # PyTorch trained model
downloads

# VS code
venv/
.vscode/
*.json

# Python and notebook
__pycache__
*.pyc
*.pkl
*.pt
*.npy
.DS_Store
.ipynb_checkpoints/
.idea/
